extends ../layouts/common

block content
	h1 Users
	.row
		.col-md-6.col.ml-auto
			form(action="/users/search", method="GET")
				.form-group.d-flex
					input(type="text", name="q", value=queri, class="form-control") 
					button(class="btn btn-primary ml-2") Timkiem
	table.table.table-striped.table-hover
		thead.thead-light
			tr
				th Name
				th Phone
				th Detail
		tbody
			each user in users
				tr
					td= user.name
					td= user.phone
					td
						a(href="/users/" + user.id) view

	a.btn.btn-primary(href="/users/create") Create new user