extends ../layouts/common

block content
	h1 Detail user
	table.table.table-striped.table-hover
		tr
			th Avatar
			th Name
			th Phone
		tr
			td
				img(src= user.avatar)
			td= user.name
			td= user.phone